@charset "ISO-8859-1";
 body {
  margin: 0;
  font-size: 15px;
  font-family:"Lucida Sans Unicode";
  line-height: 1.3em;
}
.init{
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    color: #eee;
}
.navbar {
  padding-left: 13px;
  display: flex;
  align-items: center;
  background-color: #3e3eff;
}
.mainbar {
  padding-left: 12px;
  font-size: 1.4rem;
}
.navbar.board {
  font-size: 1.1rem;
}
.listas {
  display: flex;
  overflow-x: auto;
  
  background-color: #8282ff;
}